#
# This list is used by git-shortlog to fix a few botched name translations
# in the repository, either because the author's full name was messed up
# and/or not always written the same way, making contributions from the
# same person appearing not to be so.
#

Raphael Matile <raphael.matile@bluewin.ch>
Remo Koch <rko@strawberry.io>
Reto Wettstein <retowettstein@hotmail.com>
Reto Wettstein <retowettstein@hotmail.com> <retwet@dhcp-wlan-uzh-89-206-84-229.uzh.ch>

